*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
    transition: 0.3s linear, 
    color 0.3s linear;
}

body.dark{
    background-color: #1f1f1f;
    color: white;

    transition: 0.3s linear, 
    color 0.3s linear;
}

.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}

label{
    background-color: #1f1f1f;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    user-select: none;
}

body.dark label{
    background-color: white;
}

input{
    visibility: hidden;
}
