@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.container{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.header{
    background-color: #ff77ff;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
    font-weight: 600;
}

.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: white;
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-family: inherit;
    border-radius: 4px;
}